.splash-container {
	background: rgb(68, 0, 0) url("../img/Burgundy\ Checker\ Pattern.jpg") no-repeat center top;
	background-size: 100% 100%;
	height: 100%;
}

.splash-head {
	/*border: 0;*/
	border-color: rgba(45, 21, 21,0.7);
	background-color: rgba(59, 27, 27,0.7);
	color: rgb(189, 140, 140);
}

.content-wrapper {
	top: 100%;
}

.err {
	padding: 1em 1em 1em 3em;
	border-radius: 1em;
	background-color: rgba(134, 11, 11, 0.7);
	color: #ffffff;
}

.inf {
	padding: 1em 1em 1em 3em;
	border-radius: 1em;
	background-color: rgba(38, 43, 39, 0.7);
	color: #ffffff;
}

.res {
	padding: 1em 1em 1em 1.5em;
	border-radius: 1em;
	background-color: rgba(84, 35, 35, 0.7);
	color: #ffffff;
}